.notePage {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;

  li {
    padding: 0.5rem;
    list-style: none;
  }

  .noteForm {
    > div {
      position: sticky;
      top: 0;
    }
  }
}
